
		   		    <div class="navbar">
					    <div class="navbar-inner">
					    	<%= link_to "Sun Flower BLOG", root_path, :class => "brand" %>
						    <%= set_header %>
						</div>
				    </div>
		   
		